canvas#view(width="800", height="480") Please use a browser that is compatible with HTML5

ul
  li
    a(href="/?character=0") Max
  li
    a(href="/?character=1") Mr. Green
  li
    a(href="/?character=2") Mr. Green with blue shirt